.search {
  height: 20px;
  border: solid 3px;
}

.con{
  background-image: url("https://s3-media2.fl.yelpcdn.com/bphoto/xM0Rj7-zE7H7QA4zIwYhHg/o.jpg");
  font-family: 'Lobster', cursive;
  font: bold;
  
}

.secH{
font-weight: bolder;
color: #c27b55
}
.oneH{
  color:#684842
}



